@import "tailwindcss";
@layer base {
  :root {
    --font-outfit: "Outfit", sans-serif;
  }

  body {
    font-family: var(--font-outfit);
  }
}

@layer utilities {
  .font-outfit {
    font-family: var(--font-outfit);
  }
}
html,
body,
#root {
  height: 100%;
}
